div {
	box-sizing: border-box;
}
.d-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.js {
	margin: 50px;
}
.btn {
	border-radius: 10px;
	padding: 10px;
	font-size: 1.3rem;
	border: none;
}
.bg-yellow {
	background-color: lemonchiffon;
}
.bg-green {
	background-color: darkgreen;
}
.bg-blue {
	background-color: deepskyblue;
}
.bg-red {
	background-color: crimson;
}
.bg-black {
	background-color: black;
}
.f-white {
	color: white;
}
.btn-show:hover {
	background-color: #eee;
	color: black;
}
.alert-box {
	font-size: 1.3rem;
	width: 70%;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	margin: 30px auto;
}
.study2 .alert-box {
	display: none;
}
.study3 .alert-box {
	display: none;
}
.study3 .btn {
	margin: 30px;
}
.study3 .find-btn {
	text-align: center;
}
