.bg-main {
	background-color: #eee;
	height: 100vh;
}
.input-group {
	width: 35%;
}
.cart-container {
	background-color: lightgrey;
	height: 400px;
}
.cart {
	background-color: black;
	height: 300px;
}
.f-white {
	color: white;
}
.f-grey {
	color: darkgrey;
}
